
  
  <h1 align="center">Listing Articles</h1>

  <div class="container">
    <div class="row">
        <% @articles.each do |article| %>
          
            <div class="col-sm-5"><%= article.title %></div>
            <div class="col-sm-4"><%= article.text %></div>
            <div class="col-sm-3"><%= link_to 'Read', article_path(article), class: 'btn btn-default btn-xs' %>
            <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default btn-xs' %>
            <%= link_to 'Destroy', article_path(article), class: 'btn btn-danger btn-xs',
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></div>
          
        <% end %>
  </div>
